{% extends "base.html" %}

{% load compress static%}

{% block extra_css %}
    {% compress css%}
        <link type="text/x-scss" href="{% static 'scss/account.scss' %}" rel="stylesheet" media="screen">
    {% endcompress css%}
{% endblock %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark" aria-label="breadcrumb">
    <div class="container container-fluid text-light fs-5">
        <ol class="breadcrumb mb-0 mt-1 align-middle d-md-flex d-none">
            <li class="breadcrumb-item"><a class="text-light text-decoration-none" href="/">Home</a></li> 
            <li class="breadcrumb-item active"><a class="text-light text-decoration-none" href="/accounts/profile">Profile</a></li>
        </ol>
    </div>
</nav>
<div class="container content-container pt-5 pb-5">
	<div class="row">
		<div class="col-12 pb-3 text-center">
			<h1>Profile</h1>
			<hr style="border: 1px solid #267982; opacity: 1 !important;">
		</div> 
	</div>
	<div class="row">
	    <div class="col-md-3 col-12">
	        <a class="mt-3" href="https://orcid.org/{{request.user.username}}"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/{{request.user.username}}</a><br>
	        <span class="oi oi-envelope-closed mt-3 me-2"></span><a class="pl-2" href="mailto:{{request.user.email}}">{{request.user.email}}</a><br>
	        <button class="btn btn-primary mt-2" data-bs-toggle="collapse" data-bs-target="#d-col" aria-expanded="false" aria-controls="d-col">Delete Account</button>
	        <div id="d-col" class="pt-2 collapse">
	        	<form id="delete-account" action="{% url 'delete_account'%}" method="POST">
					{% csrf_token %}
					<div class="form-row">
						<div class="col">
							<input class="form-control" id="orcid" name="orcid" type="text" placeholder="Please enter your ORCID to confirm" aria-label="orcid">
						</div>
					</div>
					<div class="form-row pt-1">
						<div class="col">
					        <button form="delete-account" class="btn btn-danger" type="submit">Delete Account</button>
					    </div>
					</div>
				</form>
			</div>
	    </div>
		<div class="offset-md-1 col-md-8 col-12">
		    Right Panel Content
		</div>
	</div>
</div>

{% endblock %}